<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../style.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
		<title>Footer</title>
	</head>
	<body>
		<footer>
			<div class="top">
				<div>
					<img id="logo" src="./images/logo.png" alt="logo" />
					<div class="email">
						<span>Email de contato</span>
						<span>barbearia@richardmachado.com</span>
					</div>
				</div>
				<div class="message">
					<h1>Fale com a gente</h1>
					<p>
						Estamos sempre prontos para atender você da melhor forma possível. Seja para tirar dúvidas, agendar um horário ou conhecer
						mais sobre nossos serviços, entre em contato conosco. Será um prazer receber você em nossa barbearia.
					</p>
				</div>
			</div>
			<div class="bottom">
				<div class="links">
					<a id="nav-link" href="#servicos">Serviços</a>
					<a id="nav-link" href="#sobre">Sobre</a>
					<a id="nav-link" href="#galeria">Galeria</a>
					<a id="nav-link" href="#depoimentos">Depoimentos</a>
				</div>
				<span>© 2026 Barbearia Richard Machado. Todos os direitos reservados.</span>
			</div>
		</footer>
	</body>
</html>
