<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../style.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
		<title>Document</title>
	</head>
	<body>
		<nav>
			<div class="nav-left">
				<a class="nav-link" href="#servicos">Serviços</a>
				<a class="nav-link" href="#sobre">Sobre</a>
			</div>
			<img id="logo" src="./images/logo.png" alt="logo" />
			<div class="nav-right">
				<a class="nav-link" href="#galeria">Galeria</a>
				<a class="nav-link" href="#depoimentos">Depoimentos</a>
			</div>
			<div id="redes-sociais">
				<a target="_blank" href="https://www.instagram.com/barbearia_rmachado?igsh=MW1mdHJqaWIxZmE3bQ==">
					<i class="fa-brands fa-instagram"></i>
				</a>
			</div>
			<div id="hamburger">
				<i class="fa-solid fa-bars"></i>
			</div>
		</nav>
	</body>
</html>
